html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    margin: auto;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
li{
    margin: 0;
}
button{
    margin: 0;
    padding: 0;
}
img{
    margin: 0;
    padding: 0;
}
.list {
    list-style: none;
}
header {
    max-width: 100%;
    max-width: 100%;
    background-position: right center;
}
.container{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-nav{
    display: flex;
}
.link{
    text-decoration: none;
}
.h-nav li {
    font-size: 14px;
    font-weight: 400;
    margin-right: 60px;
    color: #505F98;
}

.h-nav a {
    font-size: 14px;
    font-weight: 400;
    color: #505F98;
}
.h-logo {
    margin-left: 271px;
    font-size: 26px;
    line-height: 38px;
    font-weight: 900;
    color: #37447E;
}
.button {
    min-width: 126px;
    min-height: 26px;
    background-color: #111B47;
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin-left: 355px;
}
.hero-section {
    display: flex;  
    justify-content: center;
    width: 100%;
    height: 100%;
}
.background {
    background-image: url(/image/background.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.background-container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.hero-section img {
    height: 780px;
    margin-left: auto;
    margin-top: 185px;
}
.hero-text {
    display: inline-block;
    margin-top: 243px;
    margin-left: 163px;
    width: 539px;
    height: 316px;
}
.hero-section h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
}
.img-hero {
    display: block;
}
.hero-section p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}
.btn-hero-primary {
    background-color: #111B47;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    min-width: 189px;
    min-height: 36px;
    font-size: 16px;
    line-height: 26px;
    width: 500;
    padding: 5px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 69px;
}
.btn-hero-secondory {
    text-align: center;
    text-decoration: none;
    min-width: 189px;
    min-height: 36px;
    font-size: 16px;
    line-height: 26px;
    width: 500;
    padding: 5px;
    display: inline-block;
    border: 2px solid #091133;
    color: #091133;
    margin-top: 69px;
}
.protein-sect {
    display: flex;
    margin-right: 30px;
    margin-bottom: 160px;
    justify-content: center;
    width: 100%;
    height: 742px;
}
.container-protein {
    display: inline-block;
}
.tilt {
    display: flex;
    margin-top: 80px;
}
.creatine {
    width: 540px;
    margin-top: 160px;
}
.creatine h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 16px;
}
.creatine p {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
}
.creatine h3 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #091133;
    margin-bottom: 6px;
    margin-top: 14px;
}
.tilt-text {
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}
.tilt li {
    width: 255px;
    height: 138px;
    text-align: left;
    justify-content: left;
}
.card {
    display: flex;
}
.card h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: #091133;
}
.card-text {
     width: 445px;
     height: 230px;
     margin-bottom: 3rem;
}
.card-sect {
    width: 1440px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    
}
.image-happy {
    margin-right: 155px;
    margin-bottom: 130px;
    width: 480px;
}
.image-social {
    margin-right: 155px;
    margin-bottom: 115px;
    width: 480px;
}
.image-mention {
    margin-right: 155px;
    width: 480px;
}
.card p {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    margin-top: 16px;
    margin-bottom: 40px;
}
.card-buttom {
    width: 150px;
    height: 32px;
    background-color: #111B47;
    text-align: center;
    color: #FFF;
    display: inline-block;
    padding: 4px;
    font-size: 14px;
    line-height: 24px;
}
.card:last-child {
    margin-bottom: 181px;
}
.sect-last {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 938px; 
    text-align: center;
    background-image: url(/image/Rectangle.png);
    background-size: 100% 1938px;
}
.sect-last h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 285px;
}
.last-container {
    width: 600px;
    display: inline-block;
}
.lorem-text {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    margin-bottom: 36px;
}
.dollar-text {
    font-size: 50px;
    line-height: 66px;
    font-weight: 500;
    color: #222F65;
}
.design-text {
    font-size: 16px;
    line-height: 26px;
    color: #37447E;
    margin-bottom: 60px;
}
.simple-text {
    font-size: 14px;
    line-height: 24px;
    color: #5D6970;
    margin-bottom: 9px;
}
.last-button {
    width: 189px;
    height: 32px;
    background-color: #111B47;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 4px;
}
.hight-footer {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    max-width: 1340px;
    gap: 0;
}
.hight-footer h1 {
    padding-right: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
}
.foot-button {
    width: 109px;
    height: 26px;
    background-color: #111B47;
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    padding: 4px;
    text-align: center;
    display: inline-block;
}
.hight-footer p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #939EA4;
}
.line {
    width: 1340px;
    height: 1px;
    border: 2px solid#CDD1D4;
    margin-left: 280px;
    margin-top: 40px;
    margin-bottom: 24px;
}
footer {
    background-color: #E7ECFF;
    padding-top: 61px;
    width: 100%;
    justify-content: center;
    padding-bottom: 32px;
}
.low-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 22px;
}
.nav-footer {
    display: flex;
}
.social-links {
    display: flex;
}
.nav-footer li {
    margin-right: 60px;
    color: #929ECC;
}
.social-links li {
    margin-right: 30px;
}
.lines {
    width: 1340px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.container-menu {
    display: none;
}
#check-menu {
    display: none;
}
.menu-line {
    display: none;
}
.adaptive-menu{
    display: none;
}
.adapt-link {
    display: none;
}
@media (max-width: 600px) {
    .h-nav {
        display: none;
    }
    .img-protein {
        width: 340px;
        margin-bottom: 40px;
    }
    .main-container{
        justify-content: center;
    }
    .social-links {
        display: none;
    }
    .nav-footer{
        display: none;
    }
    hr {
        display: none;
    }
    .hero-section {
        text-align: left;
        
    }
    .hero-text{
        max-width: 400px;
        margin-left: 0;
        margin-top: 60px;
        height: 100%;
        text-align: center;
    }
    .hero-text p {
        font-size: 14px;
    }
    .button {
        margin-left: 64px;
    }
    .container {
        justify-content: left;
    }
    .h-logo {
        margin-left: 5px;
    }
    html, body {
        overflow-x: hidden;
        width: 100%;
    }
    body {
        overflow-x: hidden;
    }
    .protein-sect {
        flex-direction: column;
        max-width: 420px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .btn-hero-primary,.btn-hero-secondory {
        margin-top: 34px;
        margin-right: 0;
    }
    .btn-hero-secondory {
        margin-top: 17px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    .card-sect {
        justify-content: center;
    }
    .card-text {
        max-width: 400px;
    }
    .container-protein {
        max-width: 100%;
        margin-left: 10px;
    }
    .container-protein p {
        max-width: 380px;
    }
    .lorem-text {
        font-size: 12px;
    }
    .last-container {
        max-width: 400px;
    }
    .tilt li {
        max-width: 200px;
    }
    .tilt-text {
        display: none;
    }
    .protein-sect {
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        margin-left: auto;
        margin-right: auto;
    }
    .hight-footer {
        gap: 0;
    }
    .container-menu {
        margin: 0;
        margin-top: 20px;
        max-width: 60px;
        position: relative;
        color: #fff;
        text-align: center;
        height: 60px;
    }
    .menu-line {
        position: absolute;
        top: 10px;
        right: 10px;
        left: 0px;
        width: 35px;
        height: 2px;
        background-color: black;
        transition: 0.3s all;
    }
    .menu-line:nth-of-type(2),
    .menu-line:nth-of-type(3){
        top: 18px;
    }
    .menu-line:nth-of-type(4){
        top: 28px;
    }
    .container-menu {
        display: inline-block;
        width: 150px;
        z-index: 1001;
    }
    #check-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 100%;
        opacity:0;
        z-index: 1002;
    }
    .menu-line {
        display: inline-block;
        z-index: 1003;
    }
    .adaptive-menu {
        display: block;
        position: fixed; 
        top: 0;         
        left: 0;         
        width: 100%;     
        height: 100%;   
        max-height: 0;   
        font-size: 10px;
        overflow: hidden;
        background-color: #1E90FF; 
        transform: translateY(0);  
        transition: max-height 0.3s ease, font-size 0.3s ease; 
    }
    .adapt-link {
        display: block;
        width: 100%;
        padding: 20px; 
        color: #fff;
        background-color: #1E90FF;
        border: none; 
        text-align: center;
        font-size: 20px; 
        transition: 0.5s;
    }
    #check-menu:checked ~ .adaptive-menu {
        max-height: 100%;
        font-size: 16px;  
        transition: 1s;
    }
    
    #check-menu:checked ~ .menu-line:nth-of-type(1),
    #check-menu:checked ~ .menu-line:nth-of-type(4) {
        display: none; 
    }
    #check-menu:checked ~ .menu-line:nth-of-type(1),
    #check-menu:checked ~ .menu-line:nth-of-type(4) {
        display: none;
    }
    #check-menu:checked ~ .menu-line:nth-of-type(2){
        transform: rotate(45deg);
        transition: 1s;
    } 
    #check-menu:checked ~ .menu-line:nth-of-type(3){
        transform: rotate(-45deg);
        transition: 1s;
    } 
    .creatine p {
        font-size: 16px;
    }
    .creatine {
        max-width: 410px;
    }
    .image-mention {
        margin-bottom: 50px;
    } 
}
@media (max-width: 1440px) {
    html, body {
        overflow-x: hidden;
        max-width: 1440px;
    }
    .h-logo {
        margin-left: 0;
        margin-right: 0;
    }
    .img-protein{
        width: 340px;
    }
    .button {
        margin-left: 0;
    }
    header {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        max-width: 100%;
        justify-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .background-container{
        margin-left: auto;
        margin-right: auto;
    }
    .background {
        margin-left: auto;
        margin-right: auto;
    }
    .hero-section {
        max-width: 100%;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .card-sect p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .card-sect h2 {
        margin-bottom: 20px;
    }
    .card-sect {
        text-align: center;
        max-width: 100%;
        justify-items: center;
    }
    .cards {
        max-width: 100% ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .card-buttom {
        margin-top: 30px;
    }
    .hight-footer {
        gap: 0;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .low-footer {
        max-width: 100%;
    }
    .sect-last {
        width: 100%;
    }
}
@media (max-width: 1050px) {
    .background {
        background-image: none;
        background-color:#E7ECFF ;
    }
    .hero-text{
        margin-left: auto;
        margin-right: auto;
        margin-top: 110px;
        height: 100%;
    }
    .btn-hero-secondory,.btn-hero-primary {
        margin-top: 34px;
    }
    .hero-section {
        padding-bottom: 20px;
    }
    .h-nav li {
        margin-right: 30px;
    }
    .card-sect img {
        width: 340px;
        height: auto;
        
    }
    
    .main-container {
        padding-left: 10px;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    .img-protein {
        width: 280px;
    }
    .main-container {
        justify-content: center;
        text-align: center;
    }
    .hero-section img {
        margin-top: 0;
        width: 240px;
        max-height: 380px;
        z-index: -1;
        position: absolute;
        top: 50%;
        right: 0;;

    }
    .hero-section {
        position: relative;
        z-index: 0;
    }
    .image-container {
        position: absolute;
        width: 340px;
        height: 120px;
        top: 0;
        right: 0;
        z-index: -1;

    }
    .image-mention {
        margin-right: 0;
        margin-bottom: 115px;
    }
    .image-social {
        margin-right: 0;
    }
    .image-happy {
        margin-right: 0;
    }
}
@media (max-width:680px) {
    .card p {
        font-size: 14px;
    }
    .card h2 {
        font-size: 28px;
        line-height: 28px;
    }
    .card-sect img {
        width: 340px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 800px) {
    .image-container {
        opacity: 0.75;
    }
}